@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", "Roboto", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}
header{
    height: 10%;
    background-color: #fff;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    top:0;
}
.navegation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navegation ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 10px;
}
.navegation ul li a{
    color:#000000;
    font-size: 15px;
    font-weight:500;
    text-decoration:none;
}

.span{
    margin: 1rem 0  1rem  1rem;
    color: #d63a25;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.text{
    margin: 2rem;
    text-align: center;

}
.text p{
    margin-top: 1rem;
    text-align: justify;

}
.text span{
    color: #d63a25;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}
.cards-creators{
    display:flex;
    flex-direction: row;
    background-color: #FF4500;
    justify-content:center ;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    box-sizing: border-box;
}
.card {
    padding: 1rem;
    position: relative;
    width: 280px;
    height: 300px;
    margin: 2rem;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background: #fff;
    align-items: center;

}
.card-hidden{
    padding: 1rem;
    position: relative;
    width: 280px;
    height: 300px;
    margin: 2rem;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    display:none;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    text-align: center;
}
.card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card button{
    height: 30px;
    width: 140px;
    border: none;
    border-radius: .5rem;
    background-color: #FF4500;
    color: #fff;
    cursor: pointer;
}
.agradecimentos{
    align-items: center;
    text-align: center;
    height: 40vh;
    margin-top: 1rem;
    padding: 1rem;
}
.agradecimentos h4{
    color: #d63a25;
    font-size: 20px;
}
.agradecimentos p{
    margin: 2rem;
    text-align: justify;
}
.agradecimentos span{
    color: #d63a25;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

footer{
    background-color:#24262b ;
    padding: 70px 0;
    line-height: 1.5;
    font-family:"poppins", sans-serif;
}

footer ul{
    list-style: none;
}

.container{
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
    justify-content: space-between;
}
.footer-col h4{
   font-size: 18px;
   color: #fff;
   text-transform: capitalize;
   margin-bottom: 35px;
   font-weight: 500;
   position: relative;

}
.footer-col h4::before{
    content:'';
    position:absolute;
    left: 6;
    bottom: -12px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #fff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom:  30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom:  30px;
    }
}
