.title-page {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../img/economic-inequality-sao-paulo-brazil.jpg") no-repeat center;
    background-size: cover;


    height: 75vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title-page > h1 {
    color: #fff;
    font-size: 75pt;
    font-weight: bold;
    text-align: center;
}

