section.slider{
    margin: 0 auto;
    width: 100%;
    height: 75vh;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: 75vh;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: 75vh;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
    height: 75vh;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

section h2{
    font-size: 2em;
    margin-bottom: 25px;
}

section p{
    font-size: 20px;
}

section{
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }
}

