footer{
    background-color: #24262b;
    display:flex ;
    justify-content: space-between;
}

footer ul{
    list-style: none;
}

.footer-col{
    align-items: center;
    text-align: center;
}

.footer-copyright {
    color: #000000;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}