* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --XGOrange: #ff6a00;
    --siena: #ff6b00;
    --jambo: #ff4500;
    --RadicalOrange: #ff6103;
    --ElectricOrange: #f0701a;
    --corhex: #fa4e14;
    --orginal: #fa4e14;
    --escarlate: #ff2400;
    --tomate: #ff6347;
    --tomate-transparent: #ff6347a1;
    --saturado: #e63d1f;
    --urucum: #ec2300;
}

body {
    background-color: var(--XGOrange);
}



