@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Phudu', sans-serif;
}

.box{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://images.pexels.com/photos/8078389/pexels-photo-8078389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.line{
  display: flex;
  height: 88%;
  align-items: center;
}

.l{
  flex-basis: 50%;

}

h1{
  font-size: 70px ;
  color: brown;

}

p{
  color: rgb(254, 47, 47);
  font-size: 18px;
  line-height: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}


 .kids{
  width: 120px;
  height: 140px;
  display:inline-block;
  border-radius: 10px;
  padding: 15px 15px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 5px 5px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  align-items: flex-end;
  justify-content: flex-end;
} 

.kids1{
  background-image: url("https://images.pexels.com/photos/8078494/pexels-photo-8078494.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;

}

.kids2{
  background-image: url("https://images.pexels.com/photos/3019401/pexels-photo-3019401.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;

}

.kids3{
  background-image: url("https://images.pexels.com/photos/4874451/pexels-photo-4874451.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;

}

.kids4{
  background-image: url("https://images.pexels.com/photos/9533032/pexels-photo-9533032.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;

}

.kids:hover{
  transform: translateY(-10px);
}

h5{
  color: rgb(235, 224, 19);
}

.kids p{
  font-size: 9px;
}

@media screen and (max-width: 768px) {
  .box {
    padding-left: 5%;
    padding-right: 5%;
  }
}

