.first-section {
    text-align: center;
    height: 540px;
    padding-top: 100px;
}

.cards-donate {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card {

    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    height: 200px;
    transition: all 0.3s ease-out;
  }

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
   
  .image {
    margin-top: 70px;
    float: right;
    max-width: 64px;
    max-height: 64px;
  }

  .hunger {
    border-left: 3px solid #4895ff;
  }
   
  .desi-social {
    border-left: 3px solid #3bb54a;
  }
   
  .human-help {
    border-left: 3px solid #b3404a;
  }


.section-infos {
    width: 100%;
    background-color: #662b00;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    padding: 80px 280px
}

.title_donate {
    font-size: 28px;
}

.text_donate {
    font-size: 15px;
}

.container-infos .flex-container-infos {
    display: flex
}

.left-div-infos>h1 {
    color: #ff6b00;
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    line-height: 116%;
    letter-spacing: .02em;
    color: #ff6b00;
    max-width: 368px;
    margin-top: 10px;
    padding-right: 50px
}

.card-infos {
    display: flex
}

.card-info {
    max-width: 177px;
    margin-right: 16px
}

.card-info>h1 {
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 101.5%;
    letter-spacing: .02em;
    color: #fff;
    margin-bottom: 8px
}

.card-info>p {
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    letter-spacing: .02em;
    color: #e6e6e6
}

.icons {
    display: none
}

.icon-line {
    display: none
}
.section-steps {
    width: 100%;
    background-color: #ff6b00;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    padding: 80px 280px
}

.left-div-steps>h1 {
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 116%;
    text-align: center;
    letter-spacing: .02em;
    margin-bottom: 50px;
    color: #fff
}

.caminho-da-doacao {
    margin-left: 80px;
    margin-bottom: 18px
}

.card-step {
    display: flex;
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    text-align: center;
    letter-spacing: .02em;
    color: #ffe1cc
}

.step-one {
    max-width: 190px;
    margin-right: 91px
}

.step-two {
    max-width: 204px;
    margin-right: 68px
}

.step-three {
    max-width: 236px;
    margin-right: 53px
}

.step-four {
    max-width: 234px
}

@media (max-width: 468px) {
    .first-section {
        height: 100%;
    }
    
    .cards-donate {
        flex-direction: column;
    }

    .card {
        width: 280px;
    }

    .image {
        margin-top: 30px;
    }

    .section-infos {
        height: 200px;
        padding: 0;
    }

    .left-div-infos {
        width: 300px;
        text-align: center;
        margin-top: 30px;
    }

    .card-infos {
        display: none;
    }

    .icons {
        display: block;
        width: 30px;
        margin-bottom: 15px;
    }

    .icon-line {
        display: block;
        width: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .card-step {
        flex-direction: column;
    }

    .caminho-da-doacao {
        display: none;
    }

    .section-steps {
        width: 100%;
        padding: 0;
    }

    .left-div-steps {
        width: 400px;
    }

    .card-steps {
        margin-left: 30px;
    }
}