

.first-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.left-side {
    width: 53%;
    background-color: #ff6b00;
    padding-top: 100px;
    padding-left: 100px;
}

.img-slide {
    display: flex;
    flex-direction: column;
}

.child-image {
    width: 555px;
    height: 502px;
}

.right-side {
    width: 50%;
    padding-top: 100px;
}

.vision {
    color: #ff6b00;
}

.text {
    width: 300px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-donate {
    display: flex;
    justify-content: space-between;
    width: 350px;
    border-radius: 10px;
    border-style: none;
    background-color: #e6e6e6;
    cursor: pointer;
    
    padding: 20px;
}
.section-infos {
    width: 100%;
    background-color: #662b00;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    padding: 80px 280px
}

.title_donate {
    font-size: 28px;
}

.text_donate {
    font-size: 15px;
}

.section-infos-mobile {
    width: 100%;
    background-color: #662b00;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    padding: 80px 280px;
    display: none
}

.container-infos .flex-container-infos {
    display: flex
}

.left-div-infos>h1 {
    color: #ff6b00;
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    line-height: 116%;
    letter-spacing: .02em;
    color: #ff6b00;
    max-width: 368px;
    margin-top: 10px;
    padding-right: 50px
}

.card-infos {
    display: flex
}

.card-info {
    max-width: 177px;
    margin-right: 16px
}

.card-info>h1 {
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 101.5%;
    letter-spacing: .02em;
    color: #fff;
    margin-bottom: 8px
}

.card-info>p {
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    letter-spacing: .02em;
    color: #e6e6e6
}

.icons {
    display: none
}

.icon-line {
    display: none
}
.section-steps {
    width: 100%;
    background-color: #ff6b00;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    padding: 80px 280px
}

.left-div-steps>h1 {
    font-family: lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 116%;
    text-align: center;
    letter-spacing: .02em;
    margin-bottom: 50px;
    color: #fff
}

.caminho-da-doacao {
    margin-left: 80px;
    margin-bottom: 18px
}

.card-step {
    display: flex;
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 128%;
    text-align: center;
    letter-spacing: .02em;
    color: #ffe1cc
}

.step-one {
    max-width: 190px;
    margin-right: 91px
}

.step-two {
    max-width: 204px;
    margin-right: 68px
}

.step-three {
    max-width: 236px;
    margin-right: 53px
}

.step-four {
    max-width: 234px
}

@media (max-width: 468px) {
    
}